# Ignore virtual environment
venv/
.venv/

# Ignore environment variables
.env

# Ignore database files
data_quality.db

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore Streamlit generated folder
.streamlit/
